/* Erstellt von Johannes Wolf */
body {
	font-family: Verdana, sans-serif
}

h1 {
	padding: 12px;
	text-align: center;
	font-size: 30pt;
}

h2 {
	padding: 12px;
	text-align: left;
	font-size: 20pt;
}

label {
	font-weight: bold;
	min-width: 15em;
	display: inline-block;
	cursor: pointer;
	padding: 10px;
}

input {
	width: 250px;
	margin: 5px;
	font-size: 15pt;
}

input:hover {
	background: #c0c0c0;
	border: 2px solid #808080;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_basic */
button {
	background-color: #c0c0c0;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 10px;
	cursor: pointer;
}

button:hover {
	background-color: #808080;
}

button:active {
	background-color: #880000;
}

/* Damit Felder nicht zu dicht folgen */
form div {
	padding: 0.5em;
}

table {
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
	font-size: 12pt;
	border-bottom: 1px solid #ddd;
}

#eingabeanzahl {
	width: 50px;
	font-size: 12pt;
}

.gesamtbetrag {
	text-align: center;
	font-weight: bold;
	font-size: 20pt;
}

.login {
	font-size: 20pt;
	text-align: center;
}

.registrierung {
	text-align: center;
}